<h1>{{ storeName }}</h1>
<img [src]="storeLogo" [style.width]="'100px'" alt="" />

<div *ngIf="discount != 'No Discount'; then offer"></div>
<ng-template #offer>
  <h3>We offer an explicit discount of: {{ discount }}</h3>
</ng-template>

<select>
  <option value="default">Choose Category</option>
  <option *ngFor="let category of categoryList" [value]="category">
    {{ category.name }}
  </option>
</select>

<input type="text" [(ngModel)]="clientName" /><br />
<span>Client Name: {{ clientName }} </span>

<br />
<button (click)="buy()">Buy</button>

<div *ngIf="isPurchased; then purchaseMsg; else cartMsg"></div>
<ng-template #purchaseMsg>
  Thanks for purchasing from our Store {{ clientName }}
</ng-template>
<ng-template #cartMsg>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let product of productList">
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </table>
</ng-template>

<button (click)="goDiscount()">Products with discount</button>
<button (click)="goNoDiscount()">product without discounts</button>
<router-outlet></router-outlet>
